.father {
    display: flex;
    /* Main axis */
    justify-content: space-around; 

    height: 100vh;
}

.child {
    background-color: peru;
    width: 150px;
    height: 150px;
    color: white;
}

.child:nth-child(2){
    align-self: center;
    order: 1;
}