body {
    background-color: #444444;
    color: white;
}

.grid {
    display: grid;
    gap: 5px;
    height: 50vh;
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(10, 100px);
    justify-content: start;
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
}

.item:nth-child(odd) {
    background-color: #2ECC71;
}

.item:nth-child(even) {
    background-color: #3498DB;
}