@import "_variables";
@import "_mixins";
@import "_buttons";

body {
  background-color : #444444;
}

h1 {
  color: white;
  @include responsive("iphone") {
    color: yellow;
  }
  @include responsive("iphone-l") {
    font-size: 60px;
  }
  @include responsive("tablet") {
    color: green;
  }
}