body {
    background-color: blanchedalmond;
}

.container {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    transition: transform 300ms;
}

.image:hover {
    transform: scale(1.1);
}